################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/othellox/v15/ipch/AutoPCH/OTHELLOX-17b4bc8f/CONSTANTS-7476414/CONSTANTS.ipch
